<!DOCTYPE html>
<html lang="en" data-page="index">
  <head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google-site-verification" content="4R3-f952b3IserPtunBg8n4djQFMs7IXuB0yzWW5mcE" />
    <meta name="subject" content="Hizal Çelik's Portfolio">
    <meta property="og:image" content="http://hizalcelik.com/assets/media/card-thumb.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="google" content="notranslate">
    <!-- /META -->

    <!-- GOOGLE -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-70907063-1', 'auto'); ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- /GOOGLE -->

    <!-- CSS -->
<!-- links to packaged components. feel free to check the source files! -->
<!--     <link type="text/css" rel="stylesheet" href="/assets/css/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/animations.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/photoswipe.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/indie.css">  -->
 
    <link type="text/css" rel="stylesheet" href="/assets/css/main.pkgd.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:900">
    <!-- /CSS -->

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- /FAVICON -->
    
    <!-- PAGE-SPECIFIC -->
    <title>Project Index | Hizal Çelik</title>
    <meta property="og:title" content="Project Index | Hizal Çelik">
    <meta property="og:url" content="http://hizalcelik.com/index/">
    <meta name="description" content="Complete list of his projects and works.">
    <meta property="og:description" content="Complete list of his projects and works.">
    <!-- /PAGE-SPECIFIC -->
  </head>

  <body class="dark indie">

    <div class="nav" id="nav">
      <a class="name" id="home" href="/">Hizal Çelik</a>
      <ul>
        <li id="nav-code"><a data-letters="Code" href="/?c=code">Code</a></li>
        <li id="nav-design"><a data-letters="Design" href="/?c=design">Design</a></li>
        <li id="nav-art"><a data-letters="Art" href="/?c=art">Art</a></li>
        <li id="nav-video"><a data-letters="Video" href="/?c=video">Video</a></li>
        <li id="nav-photo"><a data-letters="Photo" href="/?c=photo">Photo</a></li>
        <li id="nav-more"><a data-letters="More">More</a></li>
      </ul>
      <div id="nav-mobile">
        <svg viewBox="0 0 12 12" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0" y1="1" x2="12" y2="1"/>
          <line x1="0" y1="6" x2="12" y2="6"/>
          <line x1="0" y1="11" x2="12" y2="11"/>
        </svg>
      </div>
    </div>

    <section class="fullpage vis projindex" data-dynamic="html">
      <div class="fullpage-content">

        <h2 style="margin-bottom: 30px">Project Index</h2>
        <input id="filter" xautofocus data-list="#tagslist" placeholder="Search keyword (e.g. python)"/>
        <ul class="thumbs" id="index-thumbs"></ul>

      </div>
    </section>

    <template id="thumb-tmpl" data-dynamic="template">
      {% if (o.url) { %}
      <a target="_blank" href="{%=o.url%}">
      {% } else if (o.group_id) { %}
      <a href="/{%=o.group_id%}">
      {% } else { %}
      <a href="/{%=o.id%}">
      {% } %}
        {% if (o.thumb_vid) { %}
        <video class="b-lazy" autoplay loop muted data-src="/assets/media/thumb/{%=o.thumb_vid%}" poster="/assets/media/black.jpg"></video>
        {% } %}
        <img class="b-lazy" data-src-s="/assets/media/thumb-s/{%=o.thumb%}" data-src="/assets/media/thumb/{%=o.thumb%}" src="/assets/media/black.jpg" alt="{%=o.title%}"/>
        <div class="thumb-overlay"><span>{%=o.title%}</span></div>
      </a>
    </template>

<!-- packaged js components. Feel free to view yourself for credits or my source code 
    <script src="/assets/js/modernizr.min.js"></script>
    <script src="/assets/js/ki.min.js"></script>
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/tmpl.min.js"></script>
    <script src="/assets/js/revealer.min.js"></script>
    <script src="/assets/js/blazy.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/nav.js"></script>  
    <script src="/assets/js/awesomplete.min.js" data-dynamic="js"></script>
    <script src="/assets/js/photoswipe.min.js" data-dynamic="js"></script>
    <script src="/assets/js/indie.js" data-dynamic="js"></script>
--> 
    <script src="/assets/js/main.pkgd.min.js"></script>
    <script src="/assets/js/indie.pkgd.min.js"></script>
    
    <script src="/assets/js/indie/index.js" data-dynamic="js"></script>
  </body>
</html>